# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages of Data Science
* List commonly used libraries for data science
* List data science tools in a table

Some of the popular languages that Data Scientists use are:
1. Python 
2. Javascript
3. R
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy and Matplotlib for python. 
2. ggplot2 for R 
3. Tensorflow

| Data Science Tools |
|--------------------|
| R Studio |
| Jupyter Notebook | 
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [16]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author 
Rohit Roy